# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

coverage
node_modules
package_lock.json
yarn.lock
.pnp.*
.yarn
dist
build
dist-ssr
*.local
.env*
src/prisma/*
prisma/client

# Editor directories and files
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

src/generated-prisma-client

pnpm-lock.yaml
package-lock.json
