@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wdth,wght@0,62.5..100,100..900;1,62.5..100,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes changeOpacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@layer base {
  html {
    @apply scrollbar scrollbar-thumb-neutral-500 scrollbar-track-neutral-700 dark:scrollbar-thumb-neutral-600 dark:scrollbar-track-neutral-800;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @apply text-black dark:text-white h-screen;
  }

  body {
    font-family: "Noto Sans", sans-serif;
  }
}
