name: Deploy to RPi and restart nginx on VPS

on:
  push:
    branches: ["main"]

jobs:
  deploy-to-rpi:
    runs-on: [self-hosted, rpi]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install dependencies
        run: npm install

      - name: Build
        run: npm run build

      - name: "Create env.production file"
        run: |
          touch .env.production
          echo NODE_ENV=${{ vars.NODE_ENV }} >> .env.production
          echo VITE_API_URL=${{ vars.VITE_API_URL }} >> .env.production
          cat .env.production

      - name: PM2 delete process
        continue-on-error: true
        run: |
          pm2 delete demirel

      - name: PM2 start process
        continue-on-error: true
        run: |
          pm2 serve dist/ 3000 --name "demirel"

      - name: PM2 save
        continue-on-error: true
        run: |
          pm2 save

      - name: PM2 list
        run: pm2 l

  restart-nginx-on-vps:
    runs-on: [self-hosted, vps]
    needs: deploy-to-rpi

    steps:
      - name: Restart Nginx on VPS
        run: |
          sudo nginx -s reload
